In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#Read our data to a Dataframe
stats_df = pd.read_csv('NBA_raw_data.csv')

### Exam our dataset for missing values, duplicated rows and more

In [3]:
stats_df.info()
stats_df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14509 entries, 0 to 14508
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    14509 non-null  int64
 1   Player  14477 non-null  object
 2   Pos     14477 non-null  object
 3   Age     14477 non-null  float64
 4   Tm      14477 non-null  object
 5   G       14477 non-null  float64
 6   GS      14477 non-null  float64
 7   MP      14477 non-null  float64
 8   FG      14477 non-null  float64
 9   FGA     14477 non-null  float64
 10  FG%     14426 non-null  float64
 11  3P      14477 non-null  float64
 12  3PA     14477 non-null  float64
 13  3P%     12375 non-null  float64
 14  2P      14477 non-null  float64
 15  2PA     14477 non-null  float64
 16  2P%     14392 non-null  float64
 17  eFG%    14426 non-null  float64
 18  FT      14477 non-null  float64
 19  FTA     14477 non-null  float64
 20  FT%     14010 non-null  float64
 21  ORB     14477 non-null  float64
 22  DRB     14477 non-null  float64
 23  TRB     14477 non-null  float64
 24  AST     14477 non-null  float64
 25  STL     14477 non-null  float64
 26  BLK     14477 non-null  float64
 27  TOV     14477 non-null  float64
 28  PF      14477 non-null  float64
 29  PTS     14477 non-null  float64
dtypes: float64(26), int64(1), object(3)
memory usage: 3.3+ MB

,Year,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,14509.000000,14477,14477,14477.000000,14477,14477.000000,14477.000000,14477.000000,14477.000000,14477.000000,...,14010.000000,14477.000000,14477.000000,14477.000000,14477.000000,14477.000000,14477.000000,14477.000000,14477.000000,14477.000000
unique,NaN,2733,16,NaN,39,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,Vince Carter,PF,NaN,TOT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,22,2994,NaN,1622,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,2006.302295,NaN,NaN,26.749810,NaN,52.755958,25.712233,1243.052635,194.621123,426.158113,...,0.725340,60.515922,158.165366,218.681288,115.711612,40.367479,25.609519,73.387857,110.755543,518.269186
std,9.232753,NaN,NaN,4.225279,NaN,25.125349,29.138557,911.196805,176.497390,374.921376,...,0.142989,64.155354,143.580761,200.989876,137.057587,36.481895,35.640457,64.209774,75.913004,476.520461
min,1990.000000,NaN,NaN,18.000000,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1998.000000,NaN,NaN,23.000000,NaN,33.000000,1.000000,395.000000,46.000000,110.000000,...,0.664000,14.000000,43.000000,60.000000,20.000000,11.000000,4.000000,21.000000,43.000000,121.000000
50%,2007.000000,NaN,NaN,26.000000,NaN,60.000000,11.000000,1155.000000,149.000000,334.000000,...,0.750000,38.000000,126.000000,169.000000,68.000000,32.000000,13.000000,58.000000,108.000000,394.000000
75%,2014.000000,NaN,NaN,30.000000,NaN,75.000000,51.000000,1971.000000,299.000000,653.000000,...,0.816000,87.000000,228.000000,314.000000,158.000000,60.000000,32.000000,109.000000,167.000000,793.000000
max,2021.000000,NaN,NaN,44.000000,NaN,85.000000,83.000000,3533.000000,1034.000000,2173.000000,...,1.000000,523.000000,1007.000000,1530.000000,1164.000000,246.000000,376.000000,464.000000,371.000000,2832.000000

### Remove unnecessary rows from data and convert object columns to numeric

In [4]:

#Remove duplicated columns rows
stats_df.drop(stats_df[stats_df['Player'].isnull()==True].index,inplace = True,axis =0)

#Convert stats columns to numeric values.
col = stats_df.columns
new_col = col.drop(['Player','Pos','Tm'])
stats_df [new_col] = stats_df[new_col].apply(pd.to_numeric, errors='coerce')

In [5]:
stats_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14477 entries, 0 to 14508
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    14477 non-null  int64
 1   Player  14477 non-null  object
 2   Pos     14477 non-null  object
 3   Age     14477 non-null  float64
 4   Tm      14477 non-null  object
 5   G       14477 non-null  float64
 6   GS      14477 non-null  float64
 7   MP      14477 non-null  float64
 8   FG      14477 non-null  float64
 9   FGA     14477 non-null  float64
 10  FG%     14426 non-null  float64
 11  3P      14477 non-null  float64
 12  3PA     14477 non-null  float64
 13  3P%     12375 non-null  float64
 14  2P      14477 non-null  float64
 15  2PA     14477 non-null  float64
 16  2P%     14392 non-null  float64
 17  eFG%    14426 non-null  float64
 18  FT      14477 non-null  float64
 19  FTA     14477 non-null  float64
 20  FT%     14010 non-null  float64
 21  ORB     14477 non-null  float64
 22  DRB     14477 non-null  float64
 23  TRB     14477 non-null  float64
 24  AST     14477 non-null  float64
 25  STL     14477 non-null  float64
 26  BLK     14477 non-null  float64
 27  TOV     14477 non-null  float64
 28  PF      14477 non-null  float64
 29  PTS     14477 non-null  float64
dtypes: float64(26), int64(1), object(3)
memory usage: 3.4+ MB

### Remove unnecessary rows from data and fill missing values

In [6]:
#Fill empty stats to the value 0.
stats_df.fillna(0, inplace = True)

### Drop from data irrelevant players

In [7]:
#Drop all players that didn't play a minute in the season.
stats_df.drop(stats_df[stats_df['MP'] == 0].index, axis = 0, inplace = True)


#Drop all players that play under 20 games in a season.
stats_df = stats_df[stats_df['G'] >= 20]

### Adding the *PER* stat to each player in out dataframe

In [8]:
#Manually adding the PER value of each player, in order to teach the machine later on. 
#If you want to learn more about the PER value of each player,
#you can read more about it in the following link: https://bleacherreport.com/articles/113144-cracking-the-code-how-to-calculate-hollingers-per-without-all-the-mess

def addPerColumn(df):
    df_with_PER = df.copy()
    df_with_PER['PER'] = 0.0

    for index, row in df_with_PER.iterrows():
        df_with_PER.at[index,'PER'] = round(((row['FG']*85.910) + (row['STL']*53.897) + (row['3P']*51.757) + (row['FT']*46.845) + (row['BLK']*39.190)
                     + (row['ORB']*39.190) + (row['AST']*34.677) + (row['DRB']*14.707) - (row['PF'] * 17.174)
                     - ((row['FTA'] - row['FT'])*20.091) - ((row['FGA']-row['FG'])*39.190) - (row['TOV'] *53.897)) * (1/row['MP']),2)
    return df_with_PER

In [9]:
#Finally we get the full DataFrame that we will work with in our Project.
stats_df = addPerColumn(stats_df)

In [10]:
stats_df

,Year,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PER
0,2021,Precious Achiuwa,PF,21.0,MIA,61.0,4.0,737.0,124.0,228.0,...,73.0,135.0,208.0,29.0,20.0,28.0,43.0,91.0,304.0,16.64
2,2021,Steven Adams,C,27.0,NOP,58.0,58.0,1605.0,189.0,308.0,...,213.0,301.0,514.0,111.0,54.0,38.0,78.0,113.0,438.0,17.29
3,2021,Bam Adebayo,C,23.0,MIA,64.0,64.0,2143.0,456.0,800.0,...,142.0,431.0,573.0,346.0,75.0,66.0,169.0,145.0,1197.0,26.39
4,2021,LaMarcus Aldridge,C,35.0,TOT,26.0,23.0,674.0,140.0,296.0,...,19.0,99.0,118.0,49.0,11.0,29.0,27.0,47.0,352.0,18.82
6,2021,Nickeil Alexander-Walker,SG,22.0,NOP,46.0,13.0,1007.0,192.0,458.0,...,13.0,131.0,144.0,102.0,47.0,22.0,69.0,88.0,508.0,15.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14503,1990,Mike Woodson,SG,31.0,HOU,61.0,11.0,972.0,160.0,405.0,...,25.0,63.0,88.0,66.0,42.0,11.0,49.0,100.0,394.0,10.00
14504,1990,Orlando Woolridge,SF,30.0,LAL,62.0,2.0,1421.0,306.0,550.0,...,49.0,136.0,185.0,96.0,39.0,46.0,73.0,160.0,788.0,19.81
14506,1990,James Worthy*,SF,28.0,LAL,80.0,80.0,2960.0,711.0,1298.0,...,160.0,318.0,478.0,288.0,99.0,49.0,160.0,190.0,1685.0,22.09
14507,1990,Danny Young,PG,27.0,POR,82.0,8.0,1393.0,138.0,328.0,...,29.0,93.0,122.0,231.0,82.0,4.0,80.0,84.0,383.0,13.22
14508,1990,Michael Young,SF,29.0,LAC,45.0,2.0,459.0,92.0,194.0,...,36.0,50.0,86.0,24.0,25.0,3.0,15.0,47.0,219.0,17.85

### Arrange Indexing

In [11]:
#Reset index
stats_df.reset_index(drop = True, inplace = True)

#Start index from 1
#stats_df.index += 1

### Removing Outliers

In [12]:
FG_outlier =stats_df[stats_df['FG'] < 10].index
stats_df.drop(stats_df.index[FG_outlier], inplace = True)
stats_df.describe()

,Year,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PER
count,12173.000000,12173.000000,12173.000000,12173.000000,12173.000000,12173.000000,12173.000000,12173.000000,12173.000000,12173.000000,...,12173.000000,12173.000000,12173.000000,12173.000000,12173.000000,12173.000000,12173.000000,12173.000000,12173.000000,12173.000000
mean,2006.160026,26.841699,60.928859,30.418385,1460.503902,229.310030,501.402202,0.450168,38.577425,108.392590,...,71.057094,185.933788,256.990881,136.245051,47.453627,30.105397,86.199622,129.666804,610.603302,14.133122
std,9.194597,4.206195,18.005445,29.484959,829.807201,171.584198,362.420164,0.060739,48.962350,128.663196,...,64.724676,140.131292,196.856780,140.233345,35.562201,37.171817,62.158943,67.711937,464.922127,4.621720
min,1990.000000,18.000000,20.000000,0.000000,65.000000,10.000000,18.000000,0.189000,0.000000,0.000000,...,0.000000,2.000000,2.000000,0.000000,0.000000,0.000000,1.000000,5.000000,23.000000,-0.080000
25%,1998.000000,24.000000,48.000000,3.000000,746.000000,90.000000,206.000000,0.412000,1.000000,5.000000,...,24.000000,80.000000,110.000000,39.000000,20.000000,7.000000,37.000000,75.000000,234.000000,11.050000
50%,2006.000000,26.000000,65.000000,19.000000,1411.000000,190.000000,420.000000,0.446000,16.000000,54.000000,...,49.000000,154.000000,210.000000,89.000000,40.000000,17.000000,72.000000,126.000000,498.000000,13.750000
75%,2014.000000,30.000000,77.000000,59.000000,2111.000000,331.000000,724.000000,0.484000,63.000000,178.000000,...,99.000000,252.000000,348.000000,184.000000,66.000000,38.000000,121.000000,179.000000,876.000000,16.760000
max,2021.000000,43.000000,85.000000,83.000000,3533.000000,1034.000000,2173.000000,0.778000,402.000000,1028.000000,...,523.000000,1007.000000,1530.000000,1164.000000,246.000000,376.000000,464.000000,371.000000,2832.000000,38.710000

### Arrange Indexing

In [13]:
#Reset index
stats_df.reset_index(drop = True, inplace = True)

#Start index from 1
#stats_df.index += 1

### Produce the full clean data

In [14]:
stats_df.to_csv('NBA_clean_data.csv', index=False)